table{
  background:#FFF;
  font-size: .95rem;
}
.table td {
  vertical-align: initial !important;
}
#table-users,#table-prestamos{
  width: 100%;
  min-width: 1000px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {line-height: 2.5 !important}
.select2-container .select2-selection--single {height: 100% !important;width:100% !important}
.situacion_laboral,.periodo_pago,.periodo_cobro{display:none}
.select2{min-width:100%;height: calc(2.25rem + 2px)}
.ayuda-solicitud{
	background:#5EAC25;
	min-width: 280px;
    color:#FFF;
	padding:15px 20px;
	border-radius: .25rem;
}
.arrow:before {
  border-top-color: #265c96 !important;
}
.tooltip-inner {
  background-color: #265c96;
}
.tooltip.show {
  opacity: 1;
}
.cal-text {font-size: 1.3rem !important}
.cal-number {font-size: 2.3rem !important}
.custom-file-label::after{content: "Seleccionar"}
.btn-blue{color:#FFF !important;background:#265c96}
.btn-green{color:#FFF !important;background:#5EAC25}
.btn-red{color:#FFF !important;background:#FF0000}
.btn-orange{color:#FFF !important;background:#f15a24}
.btn-green-hover:hover{background:#5EAC25}
.link-vp{color: #FFF}
.link-vp:hover{color: #FFF; text-decoration: none;}
.page-link{color: #265c96 !important}
.page-item.active .page-link{background-color: #265c96; color: #fff !important}
.textbox{border: 2px solid #265c96;width: 72%; padding: .3rem;}
.valuebox{border: 2px solid #265c96;width: 15%; padding: .3rem; text-align: center}
.valuebox.stringvalue{width: 87%;}
/* trancisión flecha desplegable */
.fa.fa-chevron-down{
  transition: all .3s;
  font-size: 1.8rem;
}
.fa.fa-chevron-down.variables{
  font-size: 1rem;
}
.fa.fa-chevron-down.reverse{
  transform: rotateZ(-180deg);
}

.tablesVP thead, .tablesVP tfoot{
  background-color: rgba(0,0,0,.075);
}
.tablesVP tbody td{
  border-right: 1px solid #265C96;
  border-left: 1px solid #265C96;
  border-top: none;
  border-bottom: none;
}
.tablesVP tfoot td,
.tablesVP thead th{
  border: 1px solid #265C96;
}

  /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}