@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,700';
body {
	padding-top:72px;
	padding-bottom: 392px;
	background:#f2f2f2;
	font-family: "Roboto",sans-serif;
	position: relative;
}
.green{background:#5EAC25}
.blue,.background-blue{background:#265C96}
.orange{background:#f15a24}
.border-blue{border: solid 2px #265C96}
.borderbtm-blue{border-bottom: solid 2px #265C96}
.borderrgt-blue{border-right: solid 2px #265C96}
.font-blue{color:#265C96 !important}
.font-green{color:#5EAC25}
.font-green-hover:hover{color:#5EAC25}
.font-white{color:#FFF}
.font-white-hover:hover{color:#FFF}
.font-red{color:#FF0000}
.font-1{font-size: 1rem}
.font-2{font-size: 2rem}
.font-12{font-size:12px}
.font-18{font-size:18px}
.font-20{font-size:20px}
.font-24{font-size:24px}
.font-36{font-size:36px}
.font-38{font-size:38px}
.font-46{font-size:46px}
.space-top-10{margin-top:10px}
.space-top-20{margin-top:20px}
.space-top-30{margin-top:30px}
.space-top-60{margin-top:60px}
.space-bottom-20{margin-bottom:20px}
.mb-0-5{margin-bottom: .5rem}
.margintop60{margin-top:60px}
.width585px{max-width:585px}
.width300{max-width:300px;width:100%}
.width20{width: 20%}
.width30{width: 30%}
.width33{width: 33%}
.width45{width: 45%}
.width85{width: 85%}
.vertical-bottom{vertical-align: bottom}
.pointer{cursor:pointer;}
.enlace{cursor:pointer}
.link-no-underlined:hover{text-decoration: none; color: initial}
input[type="submit"]{font-weight:800}
ul > p{margin:0}
li:not(.nav-item),select,label,span,p,h1,h2,h3,h4{font-weight: 300 !important}
strong,b{font-weight: 700 !important}

/* Typography responsive */
html {
  font-size: .73rem;
}
@media(min-width:768px) {
  html {
    font-size: .9rem;
  }
}
@media(min-width:1200px) {
  html {
    font-size: .95rem;
  }
}

/* Header */
.navbar-light a.nav-link{padding: 20px 15px !important}
.navbar-light li:not(.active) a.nav-link:hover,
.navbar-light li:not(.active) a.nav-link:focus{background-color:#5EAC25;color:#FFF !important}
.navbar-light li.active a.nav-link{background-color: #e7e7e7; color: #555}
.navbar-light{background-color: #f2f2f2; border-bottom: 11px solid #5EAC25;}
.green-line{width: 100%; height: 11px;background-color: #5EAC25}
.btn-mi-cuenta{padding:4px; color:#FFF !important;background:#265c96}
.navbar-brand img{
	height: 32.8px;
}
.navbar-light .navbar-toggler {
	border-color: transparent;
	background-color: #265C96;
}
.navbar-light .navbar-toggler-icon{
	background-image: unset;
}
.navbar-light .navbar-toggler-icon .fa-bars {
	font-size: 2rem;
	color: #FFF;
}

/* Footer */
footer {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	height: 392px;
}
.footer.blue{padding:20px 0;}
.footer a, .footer p{color:#fff;margin:0}
.footer-bigger{font-size:20px;font-weight:800}
@media( max-width: 992px ) {
	.navbar-light a.nav-link{padding: 5px 15px !important}
	.navbar-brand img{
		height: 29px;
	}
	.navbar-brand {
		margin-top: 11px;
		margin-bottom: 5px;
	}
	body{padding-top: 60px}
	.navbar-light{border-bottom-width: 9px;}
	.green-line{height: 9px;}
	.btn-mi-cuenta{padding:4px 15px; min-width: 120px;}
}
@media ( max-width: 767px) {
	.navbar-brand img{
		height: 29px;
	}
	.navbar-brand {
		margin-top: 9px;
		margin-bottom: 7px;
	}
}
@media( max-width: 585px ) {
	.navbar-brand {
		margin-top: 14px;
		margin-bottom: 8px;
	}
	.navbar-brand img{
		height: 23px;
	}
	body{padding-top: 57px}
	.navbar-light{border-bottom-width: 6px;}
	.green-line{height: 6px;}
	.btn-mi-cuenta{padding:4px 20px}
}

/* Home */
@media( max-width: 991px ) {
	.presentation .banner_image_float {
		display: none;
	}	
}
@media( min-width: 992px ) {
	.presentation .banner_image_float {
		right: calc((100vw - 960px) / 2);
	}	
}
@media( min-width: 1200px ) {
	.presentation .banner_image_float {
		right: calc((100vw - 1140px) / 2);
	}	
}
.presentation .banner_image_float {
	position: absolute;
	bottom: 40px;
	padding-right: 10px;
}
.presentation{
	position: relative;
	overflow: hidden;
	min-height: 680px;
	height: calc(100vh - 60px);
	width: 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.cuadro-prestamos{
	padding: 15px;
	background-color: rgba(53, 53, 53, 0.69);
	border-radius: 5px;
	max-width: 500px;
	height: 560px;
}
@media( max-width: 310px ) {
	.cuadro-prestamos {
		height: 610px;
	}
}
.cuadro-prestamos-titulo {
	height: 5rem;
}
.cuadro-prestamos-blanco{
	padding:15px;
	background-color:#f2f2f2;
	border-radius:5px;
	height: calc(100% - 5rem);
}
.btn-solicita{
	color:#fff;
	background-color:#5eac25;
	border-color:#a9e400;
	transition: box-shadow .3s,background-color .3s;
}
.btn-solicita.efecto:hover{
	background-color:#72e222;
	box-shadow: 2px 2px 5px -1px #000;
}
.cuadro{
	border: 2px solid #4c4c4c;
	padding: 10px 7px;
	margin: auto;
	border-radius: 5px;
	margin-bottom:10px;
}
.cuadro-contacto{
	background: #265C96;
	padding: 14px;
	font-weight: 800;
}
.cuadro p{margin:0; padding:0}
.cuadro hr{border-top:1px solid #000}
h4 a:hover{
	color: #e9e9e9;
}
.fa.fa-info-circle {
	font-size: 1.3rem;
}
.bg-grad {
	background: linear-gradient(to bottom, rgba(0,0,0,0) 5%, rgba(30,30,30,1));
}


/* Como-funcina */
.funcionamiento img {
	max-width: 150px;
}
.funcionamiento:after {
	content: '';
	position: absolute;
	z-index: -1;
	top: 290px;
	left: 0;
	right: 0;
	height: 210px;
	background-color: #5EAC25;
}
@media(max-width: 1199px) {
	.funcionamiento:after {
		top: 280px;
		height: 410px;
	}
}
@media(max-width: 991px) {
	.funcionamiento:after {
		top: 300px;
		height: 400px;
	}
}
@media(max-width:767px) {
	.funcionamiento:after {
		top: 260px;
		height: 730px;
	}
}
@media(max-width:469px) {
	.funcionamiento:after {
		top: 280px;
		height: 740px;
	}
}
@media(max-width:430px) {
	.funcionamiento:after {
		top: 310px;
		height: 780px;
	}
}


/* Ayuda */
.card button:focus {
	text-decoration: none;
}
.ayuda{
	background:#5EAC25;
	min-width: 280px;
	width: 85%;
	max-width: 300px;
	color:#FFF;
	padding:15px 20px;
	border-radius: .25rem;
}

/* Prestamo */
.versus {
	display: grid;
	grid-template-columns: 1fr 13px 1fr;
	grid-column-gap: 10px;
}
.versus>*{
	display: grid;
	grid-template-rows: 40px repeat(4, 1fr);
	grid-row-gap: 5px;
}
@media (max-width: 768px) {
	.versus>*{
		grid-template-rows: 44px repeat(4, 1fr);
		grid-row-gap: 0;
	}
}
.prestamo-imagenes img.bank,
.prestamo-imagenes img.hombre2 {
	height: 35vh;
}
@media (max-width: 768px) {
	.prestamo-imagenes img.bank {
		height: 20vh;
	}
	.hombre {
		height: 20vh;
		margin-left: 1rem;
	}
}
.prestamos-lista {
	list-style: none;
	padding-left: 0;
}

/* Solicitud */
.msg_validacion {
	color: red;
}
.btn-solicitud {
	background-color: #5EAC25;
	border-color: #5EAC25;
}
.btn-verde {
	background-color: #5EAC25;
	color: #FFF !important;
}
.btn-azul {
	background-color: #265C96;
	color: #FFF !important;
}
/* Acceso */
.btn-acceso {
	background-color: #5EAC25;
	border-color: #5EAC25;
}
/* Nav Pill */
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    background-color: #265C96;
}
.nav-pills a.nav-link {
	color: #265C96;
}

/* Nav Pill Reverse */
.nav-pills .reverse a.nav-link {
	color: #fff;
}
.nav-pills .reverse .nav-link.active,
.nav-pills .reverse.show > .nav-link {
    background-color: #fff;
    color: #265C96;
}



.ui-widget-content {
	border:4px solid #4c4c4c;
}
.ui-state-default, .ui-widget-content .ui-state-default{
	background:transparent !important;
	border:none !important;
}
.ui-slider .ui-slider-handle label{
	background:#265c96;
	border-radius:20px;
	width:5.2em;
}
.ui-slider .ui-slider-handle {
	position:absolute;
	z-index:2;
	width:5.2em;
	cursor:default;
	margin:0 -40px auto !important;
	text-align:center;
	line-height:35px;
	color:#FFFFFF;
	font-size:15px;
}
.ui-corner-all {
	border-radius:2px;
}
.ui-slider-horizontal .ui-slider-handle {
	top:-.9em;
}
.ui-state-default,
.ui-widget-content .ui-state-default {
	border:1px solid #f9f9f9;
	background:#3498db;
}
.ui-slider-horizontal .ui-slider-handle {
	margin-left:-0.5em;
}
.ui-slider a,
.ui-slider a:focus {
	cursor:pointer;
	outline:none;
}


.hrazul{background-color:#265c96;height:2px;margin-bottom:20px;margin-top:0}
.hr-rojo{background-color:#ff0000;height:2px;margin-bottom:20px;margin-top:0}
.padding-top25{padding-top:25px	}
.linea-azul{border-bottom:1.5px solid #265c96;padding-bottom:4px}
/* modal */
.modal-body{padding:40px}

/* Solicitud-5 */
.cuadro-blue{border:2px solid #265C96;padding:10px;margin-bottom:10px}


/* Error */
.container-error {
	padding-bottom: 50px;
	display: flex;
	flex-direction: column;
	height: 100%;
	min-height: 380px;
	justify-content: center;
	align-items: center;
}
.svg {
	display: block;
	margin: 5rem auto 0 auto;
}
#XMLID_2_, #eyes, #mouth{
	animation: volar 1.5s linear infinite alternate;
}
#shadow {
	animation: crecer 1.5s linear infinite alternate;
}
@media(min-width:500px) {
	.svg { 
		height: 250px;
		width: 250px;
	}
}
/* Animacion de pagina de error 404 */
@keyframes crecer {
	from{ rx: 40px; }
	to{ rx: 56.7; }
}
@keyframes volar {
	from{ transform: translateY(0); }
	to{ transform: translateY(8px); }
}
/* Animación de simulador */
@keyframes mover {
	0% { transform: translateX(-10px) }
	100%{ transform: translateX(10px) }
}
/* Animación de chat */
@keyframes click {
	0% { transform: scale(.9) }
	50% { transform: scale(1.05) }
	100%{ transform: scale(1) }
}
.slider_animated {
	animation: mover .8s infinite alternate ease-in-out;
}

.remark{
	font-weight: bold !important;
	color: #5EAC25 !important;
}
.btn-wrap {
	white-space: normal !important;
}

@media (max-width: 768px) {
	.zopim {display: none !important;}
	.chat-wsp {
		position: fixed;
		bottom: 20px;
		right: 20px;
		border-radius: 50%;
		height: 55px;
		width: 55px;
		background-color: #5EAC25;
		color: white;
		box-shadow: 0px 0px 15px -2px rgba(0,0,0,.5);
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all .3s;
	}
	.chat-wsp:active {
		animation: click .3s;
	}
	.chat-wsp:hover {
		color: white;
		text-decoration: none;
		background-color: #265C96;
	}
	.chat-wsp i {
		font-size: 35px;
		line-height: 55px;
	}
}
@media (min-width: 768px) {
	.chat-wsp {display: none !important;}
}