.wizard {margin-bottom:40px;width:800px;}
.wizard .nav-tabs {
	margin-bottom:40px;
	max-width:800px;
	margin-left:20%;
	border:0;
}
.wizard > .wizard-inner {position:relative}
.connecting-line {
	height:8px;
	background:#a2a2a2;
	position:absolute;
	width:400px;
	left:29%;
	right:0;
	top:45%;
	z-index:1;
}
.nav-tabs>li {
	float: left;
	margin-bottom: -1px;
	width:100px;
}
.nav-tabs>li>a {
	line-height: 1.42857143;
	position: relative;
	display: block;
	width:55px;
	height:65px;
	margin:20px auto;
	border-radius:100%;
	padding:0;
}

.wizard .nav-tabs > li.active > a,
.wizard .nav-tabs > li.active > a:hover,
.wizard .nav-tabs > li.active > a:focus {
	color:#265c96;
	cursor:default;
	border:0;
	border-bottom-color:transparent;
}
.round-tab {
	width:60px;
	height:60px;
	line-height:65px;
	display:inline-block;
	border-radius:100px;
	background:#a2a2a2;
	z-index:2;
	position:absolute;
	left:0;
	text-align:center;
	font-size:25px;
	color:#FFF;
}
.round-tab h2{margin-top:15px}
.round-tab p{color:#265c96;}
li.active .round-tab{background:#5EAC25}
.round-tab:hover {color:#265c96;}