.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}
.table td {
    font-weight: 300 !important;
    text-align: center;
}
.table thead {
    font-size: 1.2rem;
}
.btn-devolver{
	color:#fff;
	background-color:#f15a24;
}
.spanLabelModal {
  min-width: 200px !important;
}


.text-status {
    color:#265c96;
    font-size: 1rem;
    text-align: left;
}

@media (min-width:768px){
	.modal-infoStatus {
        max-width: 800px;
    }
}

 

